.dard-mode {
  filter: invert(100%);
}
.App {
  transition: all 0.5s;
  display: grid;
  place-items: center;

  height: 100vh;
  object-fit: contain;

  background: #111;
  color: #fff;
}
.AppBgChange {
  transition: all 0.5s;
  display: grid;
  place-items: center;

  height: 100vh;
  object-fit: contain;
  /* #ffafbd → #ffc3a0 */
  /* #F0F8FF */
  background: #c0c8ff;
}
.pointChange {
  margin: 10px auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  --webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.pointChange:hover {
  cursor: pointer;
}
.pointChange:hover::after {
  opacity: 1;
  visibility: visible;
}
.pointChange:hover::before {
  opacity: 1;
  visibility: visible;
}
.pointChange::after {
  border-radius: 50%;
  z-index: 20;
  visibility: hidden;
  opacity: 0;

  content: "You want to change the background";
  position: absolute;
  bottom: -100px;
  left: 10px;
  padding: 10px 60px;
  width: 100px;

  background: white;
  color: black;
  text-align: left;
  /* border-radius: 50%; */
}
.pointChange::before {
  overflow: hidden;
  z-index: 10;
  visibility: hidden;
  opacity: 0;

  clip-path: polygon(0 0, 0% 100%, 100% 100%);

  content: " ";
  position: absolute;
  left: 10px;
  bottom: -80px;

  transform: rotate(210deg);

  width: 50px;
  height: 50px;

  background: white;
}
.pointChangeWhite {
  background: white;
}
.pointChangeBlack {
  background: black;
}

/* CLONE */
.pointChange1 {
  margin: 10px auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  --webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.pointChange1:hover {
  cursor: pointer;
}
.pointChange1:hover::after {
  opacity: 1;
  visibility: visible;
}
.pointChange1:hover::before {
  opacity: 1;
  visibility: visible;
}
.pointChange1::after {
  color: white;
  border-radius: 50%;
  z-index: 20;
  visibility: hidden;
  opacity: 0;

  content: "You want change color";
  position: absolute;
  bottom: -100px;
  left: 10px;
  padding: 10px 60px;
  width: 100px;

  background: black;
  text-align: left;
  /* border-radius: 50%; */
}
.pointChange1::before {
  color: white;

  overflow: hidden;
  z-index: 10;
  visibility: hidden;
  opacity: 0;

  clip-path: polygon(0 0, 0% 100%, 100% 100%);

  content: " ";
  position: absolute;
  left: 10px;
  bottom: -80px;

  transform: rotate(210deg);

  width: 50px;
  height: 50px;

  background: black;
}
@media only screen and (max-width: 800px) {
  .pointChange {
    margin-left: 20px;
  }
  .pointChange1 {
    margin-left: 20px;
  }
}
